/*.ll_navbar {
    margin-bottom: 0.5em;
    padding: 6px;
}*/
.livelogs_nav_container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px; /*0.975*container width, so nav items are within page */
}

.livelogs_wrapper {
    margin: 0% auto;
    position: relative;
    overflow: auto;
    width: 1200px; /*slightly bigger ipad width*/
    border: 1px solid #dddddd;
    *border-collapse: collapse;
    /*-webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;*/
            
    background-color: #FFFFFF;
}

.ll_body {
    background-color: #FFFFF0;
    padding-top: 40px; /*padding for the nav bar*/
}

.ll_table {
    text-align: left;
    /*font-size: 10px;*/
    
}

.ll_table td {
    white-space: nowrap; /*prevent wrapping of names*/
}

.ll_table thead {
    color: #339933;
    /*border-bottom: 2px solid #dddddd;*/
}
.ll_table .chat {
    padding: 5px;
}

.stat_table_container {
    width: 1180px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 5px;
    /*border-radius: 10px;
    border: solid 1px black;*/
}

.stat_table_container_medic {
    width: 456px; /*0.38*1200*/
}

.log_details_container {
    width: 308px; /*0.8*1920*0.2*/
    padding: 6px;
    border: 1px solid #dddddd;
    /*border-left: 0;*/
    *border-collapse: collapse;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;

    margin-top: 5px;            
    margin-bottom: 5px;
    margin-left: 10px;
}

.log_name_id, .server_details_id, .log_map_id, .live_id, .log_id_tag, .time_elapsed_id, .score_id {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}

.log_detail {
    font-size: 14px;
    text-align: center;
}

.log_status {
    font-size: 16px;
}

.red_score_tag {
    font-size: 18px;
    color: #E62E00;
}

.blue_score_tag {
    font-size: 18px;
    color: #3366FF;
}

.blue_score, .red_score {
    color: #663300;
    font-size: 22px;
}

.red_player {
    color: #E62E00;
}
.red_player:hover {
    color: #B82500;
}

.blue_player {
    color: #3366FF;
}

.blue_player:hover {
    color: #2952CC;
}

.no_team_player {
    color: #000000;
}
.stat_summary_col_title_secondary {
    border-left: solid 4px black;
}

.player_community_id_link {
    font-weight: bold;
}

.player_chat {
    font-weight: bold;
    font-size: 10pt;
    width: 180px;
}
.player_chat_message {
    font-size: 10pt;
}

.sourcetv_container {
    width: 1180px; /*1200-margin*/
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.live_feed_container {
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    overflow: auto;
    width: 900px; /*room for obnoxious names and messages*/
}

.sourcetv_controls {
    text-align: center;
}

.log_list_container {
    float: left;
    width: 49%;
    margin-bottom: 5px;
    margin-left: 10px;
}
.log_list_past_container {
    width: 49%;
    margin-bottom: 5px;
    margin-left: 10px;
}

.log_list {
    width: 100%;
}

.log_table {
    text-align: left;
}

.index_welcome {
    margin-left: 10px;
    width: 90%;
    text-align: center;
    padding: 10px;
}

.pastlogs_searchfield {
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.logo {
    padding: 5px;
    margin: 5px;
}
