/*.ll_navbar {
    margin-bottom: 0.5em;
    padding: 6px;
}*/
.livelogs_nav_container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px; /*0.975*container width, so nav items are within page */
}

.livelogs_wrapper {
    margin: 0% auto;
    position: relative;
    overflow: auto;
    border: 1px solid #dddddd;
    width: 1200px; /*slightly bigger ipad width*/
    *border-collapse: collapse;
    /*-webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;*/
            
    background-color: #FFFFFF;
}

.ll_body {
    background-color: #FFFFF0;
    padding-top: 40px; /*padding for the nav bar*/
}

.ll_table {
    text-align: left;
    /*font-size: 10px;*/
    
}

.ll_table td {
    white-space: nowrap; /*prevent wrapping of names*/
    padding: 3px 10px;
}

.ll_table thead th {
    color: #339933;
    padding: 3px 18px 3px 10px;
    /*border-bottom: 1px solid #dddddd;*/
    font-weight: bold;
}

.ll_table .chat {
    padding: 5px;
}

.stat_table_container {
    width: 1180px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 5px;
    /*border-radius: 10px;
    border: solid 1px black;*/
}

.stat_table_container_small {
    width: 456px; /*0.38*1200*/
}

.details_container {
    width: 308px; /*0.8*1920*0.2*/
    padding: 6px;
    border: 1px solid #dddddd;
    /*border-left: 0;*/
    *border-collapse: collapse;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;

    margin-top: 5px;            
    margin-bottom: 5px;
    margin-left: 10px;
}

.log_detail_id {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}

.log_detail {
    font-size: 14px;
    text-align: center;
}

.log_status {
    font-size: 16px;
}

.red_score_tag {
    font-size: 18px;
    color: #E62E00;
}

.blue_score_tag {
    font-size: 18px;
    color: #3366FF;
}

.team_score_value {
    color: #663300;
    font-size: 22px;
}

.red_player {
    color: #E62E00;
}
.red_player:hover {
    color: #B82500;
}

.blue_player {
    color: #3366FF;
}

.blue_player:hover {
    color: #2952CC;
}

.no_team_player {
    color: #000000;
}

.player_community_id_link {
    font-weight: bold;
}

.player_chat {
    font-weight: bold;
    font-size: 10pt;
    width: 180px;
}
.player_chat_message {
    font-size: 10pt;
}

.sourcetv_container {
    width: 1180px; /*1200-margin*/
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.live_feed_container {
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    overflow: auto;
    width: 900px; /*room for obnoxious names and messages*/
}

.sourcetv_controls {
    text-align: center;
}

.log_list_container {
    width: 900px;
    margin-bottom: 5px;
}

.log_list_past_container {
    width: 900px;
    margin-bottom: 5px;
    padding: 10px;
}

.text_blurb {
    margin-left: 10px;
    width: 90%;
    padding: 10px;
}

.pastlogs_searchfield {
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.logo {
    padding: 5px;
    margin: 5px;
}

.footer {
    font-size: 10px;
    text-align: center;
}

.leaderboard_filter_buttons {
    margin-left: 10px;
    margin-bottom: 5px;
}
