.view_navbar {
    margin-bottom: 4em;
    padding: 8px;
}

.log_view_wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.stat_table{
    text-align: left;
    /*font-size: 10px;*/
    
}

.stat_table td {
    white-space: nowrap;
}

.stat_table li, .stat_table ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.stat_table_container {
    width: 55%;
    border-radius: 10px;
    /*border: solid 1px black;*/
}

.table_header {
    text-align: center;
    font-size: 16px;
}

.log_details {
    width: 20%;
    padding: 8px;
    border: 1px solid #dddddd;
    /*border-left: 0;*/
    *border-collapse: collapse;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
            
    margin-bottom: 4px;
}

.live_or_not {

}

.log_name_id, .server_details_id, .log_map_id, .live_id, .log_id_tag {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}

.log_name, .server_details, .log_map, .log_id {
    font-size: 14px;
    text-align: center;
}

.log_live {
    font-size: 16px;
}

.event_feed_container {
    width: 40%;
}

.stat_summary_col_title {

}

.stat_summary_col_title_secondary {
    border-left: solid 4px black;
}

.player_community_id_link {
    font-weight: bold;
}