.view_navbar {
    margin-bottom: 1em;
    padding: 6px;
}

.log_view_wrapper {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 80%;
    border: 1px solid #dddddd;
    /*border-left: 0;*/
    *border-collapse: collapse;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
            
    background-color: #FFFFFF;
}

.llBody {
    background-color: #FFFFF0;
}

.stat_table{
    text-align: left;
    /*font-size: 10px;*/
    
}

.stat_table td {
    white-space: nowrap;
}

.stat_table thead {
    color: #339933;
    border-bottom: 2px solid #dddddd;
}

/*.stat_table li, .stat_table ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}*/

.stat_table_container {
    width: 55%;
    margin-bottom: 5px;
    margin-left: 5px;
    /*border-radius: 10px;
    border: solid 1px black;*/
}

.stat_table_container_medic {
    width: 22%;
}

.table_header {
    text-align: center;
    font-size: 16px;
}

.log_details_container {
    width: 20%;
    padding: 3px;
    border: 1px solid #dddddd;
    /*border-left: 0;*/
    *border-collapse: collapse;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
            
    margin-bottom: 5px;
    margin-left: 5px;
}

.live_or_not {

}

.log_name_id, .server_details_id, .log_map_id, .live_id, .log_id_tag, .time_elapsed_id, .score_id {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}

.log_detail {
    font-size: 14px;
    text-align: center;
}

.log_status {
    font-size: 16px;
}

.red_score_tag {
    font-size: 18px;
    color: #CC0000;
}

.blue_score_tag {
    font-size: 18px;
    color: #3366FF;
}

.blue_score, .red_score {
    color: #663300;
    font-size: 22px;
}

.stat_summary_col_title {

}

.stat_summary_col_title_secondary {
    border-left: solid 4px black;
}

.player_community_id_link {
    font-weight: bold;
}

.event_feed_container {
    float:left;
    width: 40%;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.chat_feed_container {
    float:left;
    width: 40%;
    margin-bottom: 5px;
    margin-left: 5px;
}